h1{
    text-align: center;
    
    font-family: Verdana;
    border-radius: 40px;
    margin: 30px 90px 30px 90px;
}
h4{
    border: 6px solid white;
    font-family: Verdana;
    border-radius: 60px;
}
p{
    border: 5px solid greenyellow;
    
    border-radius: 30px;
    margin: 20px 50px;
    padding: 10px;
}
#asholei{
    color: green;
    font-family: Verdana;
    font-size: 40px;
}

* {
    text-align: center;
    background-image: url("pic.jpg");
  }